html {
    scroll-behavior: smooth;
}

.heroSection > img {
    height : 500px;
    width : 100%;
    opacity: 0.3;
    position : absolute;
 
}

.spinner {
    width: 100%;
    height : 100vh;
    text-align : center;
    display :flex;
    align-items: center;
    justify-content: center;
}

.spinner:after {
    opacity : 0.5;
}

.heroText {

    text-align : center;
    padding-top : 140px;
    position: absolute;
    left : 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.heroText > h1 {
    color : white;
    font-weight: 500;
    width : 900px;
    font-size : 26px;
    
}

.okane {
    color : #58A4DE;
    font-weight: 600;
}

.okane-postfix {
    color : white;
    font-weight: 600;
}

.heroText > h3 {
    padding-top : 30px;
}

.st {
    margin-top : 95px;
}

.start {
    margin-top : 70px;
    background-color : #58A4DE;
    padding : 15px 35px;
    color : white;
    border-radius : 20px;
    transition: 0.5s ease-in-out;
    margin-top : 80px;
    font-weight: 600;
}

.start:hover {
    background-color : #075895;
}

.logo {
    width : 130px;
    height : 160px;
    position:absolute;
    margin-left : 380px;
    z-index: -1;
    margin-top : -6px;
}

.homeContent-area {
    margin-top : 600px;
}

body {
    width : 100%;
    overflow: auto;
}

.blog {
    color : white;
    
    padding : 40px 60px;
}

.tap > a {
    margin-right : 60px;
    
} 

.tap > a:hover {
    text-decoration: underline;
   
}

.function-blog {
    display : grid;
   
}

.function-blog > img {
    background-color : white;
    padding : 20px;
    border-radius : 30px;
    width : 100px;
    height : 100px;
    justify-content: center;
    align-items: center;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 20px;
}

.function-blog > h2 {
    margin-bottom : 80px;
}


.reviews-area {
    display : flex;
    justify-content: center;
    margin-left : auto;
    margin-right : auto;
    column-gap : 30px;
  
    width : fit-content;
    margin-top : 150px;
    margin-bottom : 100px;
}

.review-card > img { 
    border-radius : 50%;
    width : 120px;
    height : 120px;
    margin-left : auto;
    margin-right : auto;
    margin-top : -80px;
}

.review-card > h3 {
    font-size : 20px;
    margin-top : 20px;
    text-align : center;
}

.review-card > p {
   margin-top : 20px;
   font-size : 13px;
}

.review-notation {
    margin-top : 150px;
    text-align: center;
    font-size : 30px;
    color : white;
}

.review-card {
    margin-left : 20px;
    margin-right : 20px;
    padding : 20px;
    color : white;

    justify-content: center;
    width : 300px;
    border : 2px solid white;
    
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    cursor : pointer;
    transition: 0.3s ease-in-out;
}

.review-card:hover {
    background-color : white;
    color : black;
    
}

.review-card .review-profile{

    transition: all 1s ;
}

.review-card:hover .review-profile{

    transform: rotate(25deg);
    
    
}


